body {
    margin: 0;
    padding: 0;
    background-image: url("ff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#perHp, #mobHp{
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: green;
}

.app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    width: 320px;
    height: 320px;
}

.actions{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 85%;
    left: 3%;
}

.botoncito{
    background-color: blueviolet;
    border: 1px solid black;
    width: 70px;
    height: 40px;
    margin: 0 2px 5px;
    padding: 8px 12px;
    border-radius: 5px;
}

.botoncito:hover{
    background-color: antiquewhite;
    border: 3px solid black;
}

